 /*font-family: 'Roboto', sans-serif;*/
 
 * {
     font-family: 'Roboto', sans-serif;
 }
.description ul,
.description ol {
  margin: 20px 0 20px 20px;
  list-style-position: outside;
}

.description li > ul,
.description li > ol {
  margin: 0 0 0 20px;
}

.description ul {
  list-style-type: disc;
}

.description ol {
  list-style-type: decimal;
}

.description li {
  margin-left: 20px;
}
 
 p {
     padding: 0;
     -webkit-margin-before: 0;
     -webkit-margin-after: 0;
     margin-bottom: 2px;
 }
 
 .breadcrumb {
     margin: 10px 0px 0px;
     color: #78a300;
     font-size: 12px;
 }
 
 .access {
     margin: 10px 0px 0px;
     color: #808080;
     font-size: 16px;
 }
 
 .access a {
     color: #748fde;
 }
 
 .description {
     background: #f7f7f7;
     color: #38454f;
     line-height: 200%;
     padding: 30px;
     font-size: 14px;
     margin-top: 5px;
 }
 
 .article-votes {
     color: green;
     margin-top: 50px;
     font-weight: 400;
     font-size: 16px;
     padding-bottom: 30px;
 }
 
 .circle {
     padding-top: 7px;
     padding-bottom: 2px;
     padding-left: 9px;
     padding-right: 2px;
     width: 34px;
     height: 34px;
     background: #8fe794;
     border-radius: 30px;
 }
 
 .circle3 {
     padding-top: 7px;
     padding-bottom: 2px;
     padding-left: 9px;
     padding-right: 2px;
     width: 34px;
     height: 34px;
     background: #CFD4CF;
     border-radius: 30px;
 }
 
 .circle2 {
     padding-top: 7px;
     padding-bottom: 2px;
     padding-left: 9px;
     padding-right: 2px;
     width: 34px;
     height: 34px;
     background: #ff3232;
     border-radius: 30px;
 }
 
 .articlename {
     height: 50px;
 }
 
 .articlename-left {
     float: left;
     width: 60px;
 }
 
 .articlename-left img {
     width: 40px;
 }
 
 .articlename-right {
     float: left;
     width: 90%;
     color: #2A3137;
     font-size: 22px;
     line-height: 40px;
     font-weight: 400;
 }
 
 .vote-result {
     font-size: 12px;
     color: #404040;
     float: left;
     margin-left: 10px;
     margin-top: 4px;
 }
 
 .vote {
     font-color: #78a300;
     float: left;
 }
 
 .article-votes2 {
     color: #FFFFFF;
 }
 
 .transformvote {
     transform: rotate(180deg);
 }
 
 .subtle-wrap {
     margin-top: 15px;
 }
 
 .article-body {
     font-size: 14px;
     line-height: 30px;
     word-wrap: break-word;
 }
 
 .article-body,
 .section-area .article-list {
     margin-top: 6px;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     color: #2A3137;
     font-weight: 400;
 }
 
 h4 {
     display: block;
     -webkit-margin-before: 1.33em;
     -webkit-margin-after: 1.33em;
     -webkit-margin-start: 0px;
     -webkit-margin-end: 0px;
     font-weight: bold;
 }
 
 table ul {
     list-style-type: disc;
 }
